/*Cascading Style Sheets(Folha de Estilos em Cascata, em português)
 - ESTRUTURA DO CSS

--seletor - selecionar um elemento
--propriedade - cor de fundo
--valor - azul

--declaração de uma regra */

/* ESTILOS GERAIS*/
body,figure,img,div,header,nav,main,ul,li,a,p,section,article,h1,h2,footer{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: 'Inter', sans-serif;
    align-items: center;


}

figcaption{
    display:none;
}
img{
    max-width: 1200px;
}

body{
    background-color: #141414;
    
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* ESTILOS GERAIS*/

/*ESTILO DO CABEÇALHO*/
.cabecalho{
    background-color: #141414;
    padding: 16px 0;
}

/*ESTILO DO LOGO*/
.cabecalho .cabecalho__logo{
    text-align: center;
}
.cabecalho .cabecalho__logo img{}

/*SCROLLBAR*/
*{
    scrollbar-width: thin;
    scrollbar-color: #fff #141414;
    
}
*::-webkit-scrollbar {
    width: 9px;
}

*::-webkit-scrollbar-track {
    background: #141414;
}

*::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 20px;
    border: 2px solid #141414;
}

/*ESTILO DO MENU*/
.cabecalho .cabecalho__menu, .cabecalho .cabecalho__menuConfiguracao{
    display: none;
}

.cabecalho .cabecalho__menu{}
.cabecalho .cabecalho__menu ul{}
.cabecalho .cabecalho__menu li{}
.cabecalho .cabecalho__menu a{}

/*ESTILO ÁREA DE CONFIGURAÇÃO */
.cabecalho .cabecalho__menuConfiguracao{}
.cabecalho .cabecalho__menuConfiguracao ul{
    
}
.cabecalho .cabecalho__menuConfiguracao li{}
.cabecalho .cabecalho__menuConfiguracao a{}

/*ESTILO CONTEÚDO PRINCIPAL*/
main{
    
}

/*ESTILO SEÇÃO DESTAQUE*/
.secaoDestaque{
    
    background: linear-gradient(0deg, #141414 0%, rgba(0, 0, 0, 0) 35.7%), linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.64) 100%), url(../img/destaque.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px 13px 15px;
    
    
}
.secaoDestaque .secaoDestaque__imagemDestaque{
    display: none;
}
.secaoDestaque .secaoDestaque__imagemDestaque img{
    
    
}

.secaoDestaque .secaoDestaque__descricaoDestaque{
    color: white;
}
.secaoDestaque .secaoDestaque__descricaoDestaque h1{}
.secaoDestaque .secaoDestaque__descricaoDestaque h1 img{
    width: 100%;
    max-width: 180px;
}
.secaoDestaque .secaoDestaque__descricaoDestaque p{
    margin: 20px 0;
    font-size: 0.7rem;
}
.secaoDestaque .secaoDestaque__navegacaoDestaque{}
                              
.secaoDestaque .secaoDestaque__navegacaoDestaque--Play{
    background-color: white;
    color: black;
    font-size: 0.9rem;
    padding: 6px 15px;
    border-radius: 3px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 40px;
}
    
.secaoDestaque .secaoDestaque__navegacaoDestaque--Info{
    background-color: rgba(255, 255, 255, 0.329);
    color: white;
    font-size: 0.9rem;
    padding: 6px 15px;
    border-radius: 3px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 40px;
 }

.secaoDestaque .secaoDestaque__navegacaoDestaque a{
    font-size: 1rem;
    padding: 9px 28px;
    height: 52px;
    line-height: 35px;
    margin-right: 10px;
}
 
.secaoDestaque .secaoDestaque__navegacaoDestaque a img{
    vertical-align:middle;
    display: inline-block;
    margin-bottom: 5px;
}

/*ESTILO SEÇÃO FILMES*/
.secaoFilmes{
    color: #E5E5E5;
    padding: 0 2px;
    margin-top: 15px;  
        
}

.secaoFilmes h2{
    font-size: 1.1rem;
}
.secaoFilmes .secaoFilmes__listaFilmes{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    margin-top: 10px;
}

.secaoFilmes .secaoFilmes__listaFilmes li{
    margin-right: 10px;
}
.secaoFilmes .secaoFilmes__listaFilmes li figure{}
.secaoFilmes .secaoFilmes__listaFilmes li img{}

/*ESTILO SEÇÃO MINHA LISTA*/
.secaoMinhalista{
    color: #E5E5E5;
    overflow-x:hidden;
    margin-top: 10px; 
  
}
.secaoMinhalista h2{
    font-size: 1.1rem;
}
.secaoMinhalista .secaoMinhalista__listaFilmes{
    display: flex;
    flex-wrap: nowrap;
    overflow-x:scroll;
    margin-top: 10px;
}
.secaoMinhaLista .secaoMinhalista__listaFilmes li{
}
.secaoMinhaLista .secaoMinhalista__listaFilmes li figure{}
.secaoMinhalista .secaoMinhalista__listaFilmes li img{
    margin-right: 10px;
}


/*SÓ NA NETFLIX*/
.secaoSonaNetflix{
    color: #E5E5E5;
    margin-top: 15px; 
}

.secaoSonaNetflix h2{
    font-size: 1.1rem;
}
.secaoSonaNetflix .secaoSonaNetflix__listaFilmes{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    margin-top: 10px;
}
.secaoSonaNetflix .secaoSonaNetflix__listaFilmes li{
    margin-right: 10px;
}
.secaoSonaNetflix .secaoSonaNetflix__listaFilmes figure{}
.secaoSonaNetflix .secaoSonaNetflix__listaFilmes img{
}

/*TOP 10 NO BRASIL HOJE*/
.secaoTop10noBrhoje{
    color: #E5E5E5;
    overflow-x: hidden;
    margin-top: 15px; 
}
.secaoTop10noBrhoje h2{
    font-size: 1.1rem;
}
.secaoTop10noBrhoje .secaoTop10noBrhoje__listaFilmes{
    display: flex;
    flex-wrap: nowrap;
    overflow-x:scroll;
    margin-top: 15px;
}
.secaoTop10noBrhoje .secaoTop10noBrhoje__listaFilmes li{
    margin-right: 10px;
}
.secaoTop10noBrhoje .secaoTop10noBrhoje__listaFilmes img{
}

/*ASSISTA NOVAMENTE*/
.secaoAssistanovamente{
    color: #E5E5E5;
    overflow-x:scroll;
    margin-top: 15px; 
}
.secaoAssistanovamente h2{
    font-size: 1.1rem;
    
}
.secaoAssistanovamente .secaoAssistanovamente__listaFilmes{
    display: flex;
    flex-wrap: nowrap;
    overflow-x:scroll;
    margin-top: 15px;
}
.secaoAssistanovamente .secaoAssistanovamente__listaFilmes li{
    margin-right: 10px;
}
.secaoAssistanovamente .secaoAssistanovamente__listaFilmes img{}


/*ESTILO RODAPÉ*/
.rodape{
    padding: 0 20px;
    margin-top: 30px;
    color: #808080;
}
.rodape .rodape__midiasSociais{}
.rodape .rodape__midiasSociais ul{
    display: flex;
    margin-left: 20px;
}
.rodape .rodape__midiasSociais ul li{
    margin-right: 8px;
}
.rodape .rodape__midiasSociais ul a{}

.rodape .rodape__midiasSociais ul img{}

.rodape .rodape__menuNavegacao{
    margin: 16px 0;
    margin-left: 20px;

}
.rodape .rodape__menuNavegacao ul{
    margin-bottom: 10px;}
.rodape .rodape__menuNavegacao ul li{}
.rodape .rodape__menuNavegacao ul li a{
    color: #808080;
}

.rodape .rodape__LimkCodigo{
    color: #808080;
    border: 1px solid #808080;
    padding: 9px 15px;
    display: inline-block;
    margin-bottom: 20px;
}
.rodape p{}

@media screen and (min-width: 620px) {

    .secaoDestaque {
        padding: 100px 20px 42px;
    }
    .secaoDestaque .secaoDestaque__descricaoDestaque h1 img {
        max-width: 320px;
    }
    .secaoDestaque .secaoDestaque__descricaoDestaque {
        max-width: 380px;
    }
    .rodape .rodape__menuNavegacao {
        display: flex;
        justify-content: space-between;
    }
    .rodape .rodape__menuNavegacao ul li{
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 991px) {
    .cabecalho .cabecalho__menuConfiguracao ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;       
    }
   
    }
    .secaoDestaque {
        padding: 200px 10px 30px;

    }
    .secaoDestaque .secaoDestaque__descricaoDestaque {
        max-width: 420px;
    }
    .secaoDestaque .secaoDestaque__descricaoDestaque h1 img {
        max-width: 410px;
    }
    .secaoDestaque .secaoDestaque__descricaoDestaque p {
        margin: 10px 0 20px;
        font-size: 1.1rem;
        font-weight: 350;
        
    }
    .secaoDestaque .secaoDestaque__navegacaoDestaque a {
        font-size: 1rem;
        padding: 10px 28px;
        height: 52px;
        line-height: 35px;
    }
    .secaoDestaque .secaoDestaque__navegacaoDestaque a img{
        vertical-align: middle;
        margin-right: 16px;
        display: inline-block;
    }
    .secaoFilmes h2 {
        font-size: 1.7rem;
    }
    .secaoFilmes {
        padding: 0 30px;
        margin-bottom: 40px;
    }
    .rodape {}
    .cabecalho .cabecalho__menu, .cabecalho .cabecalho__menuConfiguracao {
        display: block;
    }   
    .cabecalho {
        background-color: #141414;
        padding: 16px 0;
    }
    .cabecalho .container{
        display: flex;
    }
    .cabecalho .cabecalho__logo {
        text-align: center;
        margin-right: 35px;
    }
    .cabecalho .cabecalho__menu, .cabecalho .cabecalho__menuConfiguracao {
        display: block;
        
    }
    .cabecalho .cabecalho__menu{
        flex-grow: 2;
    }
    .cabecalho .cabecalho__menu li {
        display: inline-block;
        margin-right: 15px;
    }
    .cabecalho .cabecalho__menu a {
        color: white;
        font-size: 0.8rem;
    }
    .cabecalho .cabecalho__menuConfiguracao li {
        display: inline-block;
    }
    .cabecalho .cabecalho__menuConfiguracao a {
        color: white;
    }
    .cabecalho .cabecalho__menuConfiguracao a {
        color: white;
        font-size: 0.8rem;
    }
    .cabecalho .cabecalho__menuConfiguracao li {
        padding-inline: 10px;
    }
    .secaoMinhaLista {
        padding: 0 30px;
        transform: translateY(-213px);
        margin-bottom: 40px;
    }
    .secaoMinhaLista h2 {
        font-size: 1.7rem;
    }

